*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Graphik Web Medium,system-ui,-apple-system,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
nav{
    width: 100%;
}
ul{
    display: inline-block;
}
.parent{
    display: flex;
    position: fixed;
    top: 0.2px;
    background: white;
    width: 100%;
  }
.child1 li{
    display: inline-block;
    margin:10px ;
}
.child2 li{
    display: inline-block;
    margin:10px ;
}
.child1{
    margin: 30px;
    margin-left: 100px;
    font-weight: bold;
    font-size: 16px;
}
.child2{
    margin: 30px;
    margin-left: 300px;
    font-weight: bold;
    font-size: 16px;
}
li{
    font-size: 16px;
}
a{
  color: black;
}
.button {
    background-color: #007aff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 4px;
    cursor: pointer;
    border-radius: 5px;
  }
  .btn {
    background-color: #007aff;
    border: none;
    color: white;
    padding: 12px 50px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 4px;
    cursor: pointer;
    border-radius: 5px;
  }
  .butn{
    background-color:white;
    border: 1px solid #007aff;
    color: #007aff;
    padding: 12px 50px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 4px;
    cursor: pointer;
    border-radius: 5px;
  }
  .row{
    width: 100%;
    margin-top:200px;
    display: flex;
  }
  .col-1{
    width: 50%;
    text-align: center;
  }
  .txt-clr{
    font-size: 85px;
    color: purple;
  }
  .txt1{
    font-size: 55px;
    font-weight: lighter;
  }
  .txt2{
    font-size: 50px;
    font-weight: bold;
    color: #405261;
  }
  .col{
    width: 50%;
  }
  .col2{
    text-align: center;
  }
  .row2{
    margin-top: 100px;
  }
  iframe{
    border-radius: 10px;
  }
  .c2{
    display: flex;
    margin-left: 60px;
  }
  .txtlrg{
    font-size: 20px;
    color: #748494;
    text-align: center;
    }
    .bld{
        color: black;
        font-weight: bold;
    }
    .row3{
      margin-top: 7rem;
      width: 100%;
    }
    .colm-1{
      text-align: center;
      font-size: 30px;
      color: #1d2b36
    }
    .colm-2{
      display: flex;
      width: 100%;
      align-content: center;
      justify-content: space-around;
    }
    
    .colom {
      display: flex;
      text-align: center;
      align-content: center;
      margin-top: 25px;
        }
    .btn-1{
      padding: 10px 20px;
      color: gray;
      font-size: 20px;
      background: white;
      border-radius: 30px;
      text-align: center;
      cursor: pointer;
    }
    .cntr{
      align-content: center;
      margin: 20px;
    }
    .demo{
      width: 100%;
    }
    .digital{
      width: 100%;
    }
    .row4{
      width: 95%;
      height: 400px;
      margin-top: 50px;
      margin-left: 30px;
  }
  .child5{
    width: 95%;
    display: flex;
    margin-top: 35px;
    margin-left: 70px;
    margin-right: 0px;
  }
  .child6{
    width: 95%;
    margin-top: 35px;
  }
  .colu-1{
      width:33%;
      height:150px;
      display: inline-block;
      background: #f4f4fc;
      border-radius: 25px;
      text-align: center;
    }
  .h-2{
      display: inline-block;
      text-align: left;
      margin-left: 15px;
      font-weight: 400;
      font-size: 20px;
    
  }
  .colu-2{
      width:33%;
      height:150px;
      display: inline-block;
      background: #fcecf4;
      border-radius: 25px;
      text-align: center;
        
  }
  .colu-3{
      width:33%;
      height:150px;
      display: inline-block;
      background: #fcf4ec;
      border-radius: 25px;
      text-align: center;
  }
  .colu-4{
      width:33%;
      height:150px;
      display: inline-block;
      background: #ecfcec;
      border-radius: 25px;
      text-align: center;
  }
  .colu-5{
      width:33%;
      height:150px;
      display: inline-block;
      background-color: #f4f4fc;
      border-radius: 25px;
      text-align: center;
  }
  .colu-6{
      width:33%;
      height:150px;
      display: inline-block;
      background: #f4fcfc;
      border-radius: 25px;
      text-align: center;
  }
  .row5{
    width: 100%;
  }
  .cmp1{
    width: 100%;
  }
  .img4{
    width: 100%;
  }